<h1><%= @car.name %></h1>
<ul>
  <li>Motor: <%= @car.motor %></li>
  <li>Ano: <%= @car.year %></li>
  <li>Preço: <%= @car.price %></li>
  <li>Km: <%= @car.km %></li>
  <li>Modelo: <%= @car.model %></li>
</ul>
